<mat-card>
  <mat-card-title>Excluir Produto</mat-card-title>

  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [value]="product.name"
        name="name"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Preço"
        [value]="product.price"
        name="price"
        disabled
      />
    </mat-form-field>
  </form>
</mat-card>

<button mat-raised-button (click)="deleteProduct()" color="warn">
  Deletar
</button>
<button mat-raised-button (click)="cancel()">Cancelar</button>
